<div class="container">
    <h1><span>Quotes Generator</span></h1>
    <h2><span>"You rock"</span></h2> 
    
    <div class="row">
        <div class="col-md-8">
      <h2>Feeling low? Ingest somr sample quotes before you take a shot of Vodka</h2>

            <div *ngFor='let quote of quotes; let i = index'>
                <p> {{quote.define}} <br>Posted {{quote.postDate|dateAgo}}</p>
                <button (click)='slideUpDetails(i)' class="btn btn-info">Quote info</button>
               

                <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'></app-quote-detail>

                <p appHighlight *ngIf="highestLikes()=== quote.upvote && quote.upvote > 0">{{ quote.quote }}
                    <!-- <button class="btn btn-dark btn-sm more" (click)='moreDetails(i)'><i [ngClass]="!quote.showDetails ? 'fa fa-plus' : 'fa fa-minus'"></i></button> -->
                  </p>
                  <p *ngIf="highestLikes()!== quote.upvote || quote.upvote===0">{{ quote.quote }}
                    <!-- <button class="btn btn-dark btn-sm more" (click)='moreDetails(i)'><i [ngClass]="!quote.showDetails ? 'fa fa-plus' : 'fa fa-minus'"></i></button> -->
                  </p>
                <button type="button" class="btn btn-success"(click)="upvote(i)">Like{{quote.upvote}}</button>
              <button type="button" class="btn btn-secondary"(click)="downvote(i)">Unlike{{quote.downvote}}</button>
                <!-- <button class="btn btn-success" (click)='deleteQuote(true)(i)'>Delete</button> -->
                <br>
            </div>
        </div>
        <div class="col-md-4">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    
    </div>
    
</div>
<br>
<p><span>"Look up for inspiration, down for desperation, right and left for information"</span></p> 
<footer class="page-footer">
    <div class="footer-copyright text-center">
      <h6>© 2021 Copyright: Aizo </h6>
    </div>
  </footer>
