<div class="container">

    <h1><span>Quotes Generator</span></h1>
    <br>
    <h2><span>"You rock"</span></h2> 
    <br>
    
    <div class="row">
        <div class="col-md-8">
            <h2>Feeling low? Ingest our sample quotes</h2>

            <div *ngFor='let quote of quotes; let i = index'>
                <p> "{{quote.define}}'' <br>Posted {{quote.postDate|dateAgo}}</p>
                <button (click)='slideUpDetails(i)' class="btn btn-info">Quote info</button>
                <br>
                <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'></app-quote-detail>
            </div>
        </div>
        <div class="col-md-4">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    
    </div>
    
</div>
<br>
<p><span>"Look up for inspiration, down for desperation, right and left for information"</span></p> 
